name: CI (Smoke & Contract)

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]

jobs:
  smoke:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run smoke tests
        run: pytest -m smoke --alluredir=allure-results-smoke
        continue-on-error: true
      - name: Upload smoke results
        uses: actions/upload-artifact@v4
        with:
          name: allure-results-smoke
          path: allure-results-smoke

  contract:
    runs-on: ubuntu-latest
    needs: smoke  # можно убрать, если хотите параллельный запуск
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run contract tests
        run: pytest -m contract --alluredir=allure-results-contract
        continue-on-error: true
      - name: Upload contract results
        uses: actions/upload-artifact@v4
        with:
          name: allure-results-contract
          path: allure-results-contract